name: Backend Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - backend/**
      - .github/workflows/backend-check.yml

defaults:
  run:
    working-directory: backend

jobs:
  backend-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: latest
      - name: Check formatting
        run: uv run ruff check . --fix
      - name: Check typing
        run: uv run mypy .
